.Header {
  background-color: black;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  height: 80px;
}

.Header h1 {
  color: white;
}

.li_Login {
  text-align: center;
  color: white;
  border: 1px solid white;
  height: 40px;
  width: 160px;
  border-radius: 50px;
  padding: 10px;
}

.li_Adm {
  text-align: center;
  color: white;
  border: 1px solid white;
  width: 160px;
  padding: 10px;
}

.li_Login,
.li_Adm {
  margin: 0 10px 0 10px;
}

.ul {
  display: flex;
  position: absolute;
  top: 20%;
  right: 60px;
}
