/* Home page */
.Header {
  background-color: black;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px;
  width: 100%;
  min-height: 120px;
  top: 0;
  z-index: 1;
}

.Header label {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.Header_direita {
  width: 90%;
  display: flex;
  justify-content: end;
}

.Header_menu_usuario {
  display: flex;
  justify-content: end;
  align-items: center;
  border: 2px solid white;
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  height: 70px;
}

.Header_menu_usuario_logo {
  display: flex;
  justify-content: center;
  background-color: #2E2AF9;
  color: white;
  padding: .4em;
  border-radius: 100%;
  width: 18%;
  margin-right: 10px;
}

.Header_menu_usuario_descricao {
  width: 80%;
}

.Header_menu_usuario_opcoes {
  background-color: #F0F0F0;
  border: 4px solid #2E302D;
  border-radius: 0 0 5px 5px;
  box-shadow: inset 5px 5px 10px #FFFFFF99;
  width: 250px;
  position: absolute;
  z-index: 1;
  text-align: right;
  outline: 1px solid white;
  display: none;
}

.Header_menu_usuario_opcoes_submenus {
  padding: 10px;
}

.Header_menu_usuario_opcoes a {
  padding: 5px;
  display: block;
}

.Header_menu_usuario_opcoes_sair {
  border-top: 2px solid black;
}

.Header_menu_usuario_opcoes a:hover {
  background-color: #C9C9C9;
}

.Header_menu_usuario_submenu {
  display: block;
}

.Header_menu_usuario_li_menu:hover .Header_menu_usuario_opcoes {
  display: block;
}

.Header_menu_usuario_opcoes_titulo_submenu {
  background-color: #2E302D;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.Header_menu_usuario_opcoes_entrar a {
  color: white !important;
  border: 2px solid white;
  padding: 1em;
  border-radius: 10px;
}

.Header_menu_usuario_opcoes_titulo_submenu label {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

@media screen and (max-width: 700px) {
    .ul {
        right: 5px;
    }

    .li_Adm {
        margin: 0;
    }
}