/* Cabecalho */
.Header {
    background-color: #2E302D ;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    min-height: 120px;
  }
  
  .Header label {
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .li_Login {
    text-align: center;
    color: white;
    border: 1px solid white;
    width: 120px;
    border-radius: 50px;
    padding: 10px;
  }
  
  .ul {
    display: flex;
    position: absolute;
    top: 20%;
    right: 60px;
  }

  .li_cliente_sair a {
    color: white !important;
  }

  .header_cliente {
    border-bottom: 1px solid black;
    width: 98%;
    margin-left: 1%;
    display: flex;
    padding: 10px 0 0 0;
    position: relative;
    align-items: center;
}

.header_cliente h1 {
    font-weight: bold;
    font-size: 1.5em;
}

.header_cliente_nav {
    position: absolute;
    right: calc(100% - 95%);
}

.header_cliente_menu, .header_cliente_titulo {
    display: flex;
}

.header_cliente_menu li {
    padding: 0 20px;
    font-weight: bold;
}

.header_cliente_menu li:nth-of-type(n + 2), .header_cliente_subtitulo label {
    border-left: 2px solid black;
}

.header_cliente_subtitulo {
  display: flex;
  align-items: center;
}

.header_cliente_subtitulo h1, .header_cliente_subtitulo label {
  padding: 0 20px;
}

/* Componentes gerais */
.titulo_secao {
  border-bottom: 1px solid black;
  margin: 1em 0;
}

/* Menu do usuário */
.Header_menu_usuario {
  display: flex;
  justify-content: end;
  align-items: center;
  border: 1px solid white;
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  height: 70px;
}

.Header_menu_usuario_logo {
  display: flex;
  justify-content: center;
  background-color: #2E2AF9;
  color: white;
  padding: .4em;
  border-radius: 100%;
  width: 18%;
  margin-right: 10px;
}

.Header_menu_usuario_descricao {
  width: 80%;
}

.Header_menu_usuario_opcoes {
  background-color: #F0F0F0;
  border: 2px solid #2E302D;
  border-radius: 0 0 5px 5px;
  box-shadow: inset 5px 5px 10px #FFFFFF99;
  width: 250px;
  position: absolute;
  z-index: 1;
  text-align: right;
  outline: 1px solid gray;
  display: none;
}

.Header_menu_usuario_opcoes_submenus {
  padding: 10px;
}

.Header_menu_usuario_opcoes a {
  padding: 5px;
  display: block;
}

.Header_menu_usuario_opcoes a:hover {
  background-color: #C9C9C9;
}

.Header_menu_usuario_submenu {
  display: block;
}

.Header_menu_usuario_li_menu:hover .Header_menu_usuario_opcoes {
  display: block;
}

.Header_menu_usuario_opcoes_entrar a {
  color: white !important;
  border: 1px solid white;
  padding: 1em;
  border-radius: 10px;
}

.Header_menu_usuario_opcoes_titulo_submenu {
  background-color: #2E302D;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.Header_menu_usuario_opcoes_titulo_submenu label {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

/* Outras telas */
/* Geral */
.div_principal {
  padding: 1em;
}

/* InfoEventos */
.div_principal_cliente {
  display: flex;
  padding: 1em;
}

.div_opcao_cliente {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 1em;
}

.img_div_opcao {
  width: 50px;
  height: 50px;
}

/* IngressosCliente.js */
.div_tabela {
  background-color: white;
  border: 1px solid black;
  padding: 1em;
}

.titulo_secao {
  border-bottom: 1px solid black;
}

.titulo_secao h2 {
  font-weight: bold;
}

.div_titulo_tabela {
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
  position: relative;
  height: 4em;
  display: flex;
  align-items: end;
}

.div_titulo_tabela h3 {
  font-weight: bold;
}

.botao_adicionar_eventos {
  background-color: #0ABF00;
  color: white;
  padding: 0.5em;
  padding-left: 3em;
  border-radius: 5px;
  background-image: url("../assets/Adicionar.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  position: absolute;
  right: 0;
}

.form_ingressos_campos {
  display: flex;
}

.form_ingressos_campos div {
  margin: 0 1em 0 0;
}

.div_botao_filtrar_ingressos {
  display: flex;
  justify-content: center;
}

.div_tabela_dados {
  border: 1px solid #D1CECE;
  padding: 1em;
  margin-top: 1em;
  border-radius: 15px;
}

.div_numero_paginacao_tabela {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: end;
}

.div_paginacao_tabela {
  margin-top: 1em;
  display: flex;
  justify-content: end;
}

.td_sit_compra_processando, .td_sit_compra_completado, .td_sit_compra_cancelado, 
.td_sit_evento_planejado, .td_sit_evento_em_curso, .td_sit_evento_completado, .td_sit_evento_completado {
  color: white !important;
  text-align: center;
  vertical-align: middle;
}

.td_img_pag_sit_compra_completado, .td_img_pag_sit_compra_cancelado, .td_img_pdf_sit_compra_processando, .td_img_pdf_sit_compra_cancelado {
  opacity: 0.3;
} 

.td_sit_compra_processando {
  background-color: #cccf08 !important;
}

.td_sit_compra_completado {
  background-color: #07b015 !important;
}

.td_sit_compra_cancelado {
  background-color: #e02626 !important;
}

.td_sit_evento_planejado {
  background-color: #cccf08 !important;
}

.td_sit_evento_em_curso {
  background-color: #0915f4 !important;
}

.td_sit_evento_completado {
  background-color: #07b015 !important;
}

.td_sit_evento_cancelado {
  background-color: #e02626 !important;
}

/* Mapa cliente */
.map_eventos_cliente {
  background-color: white;
  width: 100%;
  height: 100vh;
}

.map_eventos_cliente_menu {
  position: fixed;
  left: 0;
  padding: 0;
  top: 2vh;
}

.map_eventos_cliente_menu {
  padding: 10px;
  border: 1px solid #858585;
  background-color: #FBFBFB;
  box-shadow: 1px 1px 6px 1px #8F8F8F;
  border-radius: 0 0 30px 0;
  min-width: 100px;
  max-width: 400px;
  transition: .6s;
  display: flex;
}

.map_eventos_cliente_menu_encolhido {
  animation: encolherSideBar 1.6s;
}

.map_eventos_cliente_menu_informacoes {
  overflow: hidden;
  white-space: nowrap;
}

.map_eventos_cliente_menu_esquerda {
  width: 80px;
  margin-right: 0.6em;
}

.map_eventos_cliente_menu_esquerda_img {
  margin-top: 2em;
  padding-right: 1em;
  border-right: 1px solid #8F8F8F;
}

/* Evento Escolhido Cliente */
.div_corpo_evento_escolhido {
  margin-top: 1em;
  display: flex;
}

.div_img_evento_escolhido {
  border-right: 2px solid black;
  width: 25%;
}

.img_evento_escolhido {
  width: 95%;
}

.div_evento_escolhido_info {
  width: 74%;
  margin-left: 1em;
}

.div_evento_escolhido_descricao {
  border: 4px solid black;
  width: 100%;
  height: 100px;
  padding: 1em;
  /* background-color: #088F1D; */
}

.div_evento_escolhido_descricao_titulo {
  border-bottom: 2px solid black;
}

.div_evento_escolhido_descricao_titulo label {
  font-weight: bold;
}

.div_descricao_info_eventos {
  margin: 10px 0;
}

.div_descricao_info_eventos label {
  font-weight: bold;
  width: 120px;
}

.botao_reservar_evento_escolhido {
  background-color: #2E302D;
  color: white;
  font-size: 1.1em;
  padding: 10px;
  border-radius: 10px;
}

.div_secao_pagamento_qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_secao_pagamento_qrcode_img {
  width: 250px;
  height: 250px;
  margin-bottom: 1em;
  border: 3px solid black;
  background-color: white;
}

/* Compra pagamento */
.div_principal_secao {
  display: flex;
}

.div_pdf_viewer_cliente {
  background-color: white;
  border: 1px solid black;
  width: 50%;
  height: 50vh;
}

.div_secao_pagamento_esquerda {
  width: 80%;
  margin-right: 1%;
}

.div_secao_pagamento_direita {
  width: 40%;
}

.div_secao_evento_info_adicional {
  background-color: white;
  border: 4px solid black;
  padding: 1em;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_secao_evento_info_texto p {
  margin: 1em 0;
  text-align: justify;
}

.corpo_secao_info_ingresso {
  display: flex;
}

.corpo_info_usuario {
  width: 70%;
}

.div_info_evento_compras_cliente {
  margin-bottom: 1em;
}

.corpo_secao_info_ingresso_financeiras {
  background-color: white;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.div_info_financeiras_tipos label {
  font-weight: bold;
  width: 200px;
  display: inline-block;
}

.div_info_financeiras_total {
  border-top: 2px solid black;
  margin-top: 1em;
}

.div_info_financeiras_titulo {
  border-bottom: 2px solid black;
  margin-bottom: 1em;
}

.div_info_financeiras_titulo h3 {
  font-weight: bold;
}

/* CompraPDF */
.div_principal_pdf {
  padding: 1em;
  display: flex;
}

.div_pdf_info_ingresso {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 2px solid black;
  width: 70%;
}

.corpo_secao_info_ingresso_PDF {
  display: flex;
}

.corpo_secao_info_ingresso_PDF_cliente {
  width: 60%;
}

/* Componentes */
.botao_menu_lateral_maps_eventos_cliente {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -40px;
  top: 0;
}

.img_menu_lateral {
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
  box-shadow: 1px 1px 6px #8F8F8F;
}

.img_maps_eventos_cliente_menu_lateral_img {
  width: 60px;
  height: 60px;
  background-color: white;
  border: 2px solid black;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 1em;
} 

/* Textos */
.map_eventos_cliente_menu_voltar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map_eventos_cliente_menu_titulo {
  text-align: center;
  margin-top: 1em;
}

.map_eventos_cliente_menu_titulo h1 {
  font-weight: bold;
  font-size: 1.2em;
}

.map_eventos_cliente_menu_info {
  height: 60px;
  margin: 1em 0;
}

.map_eventos_cliente_menu_info h2 {
  font-weight: bold;
  font-size: 1.1em !important;
}

@keyframes encolherSideBar {
  0% {
    padding: 0;
  }
  100% {
    width: 0;
  }
}