/* Cabecalho */
.Header {
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    height: 80px;
  }
  
  .Header label {
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .li_Login {
    text-align: center;
    color: white;
    border: 1px solid white;
    width: 120px;
    border-radius: 50px;
    padding: 10px;
  }
  
  .ul {
    display: flex;
    position: absolute;
    top: 20%;
    right: 60px;
  }

  .li_cliente_sair a {
    color: white !important;
  }

  .header_cliente {
    border-bottom: 1px solid black;
    width: 98%;
    margin-left: 1%;
    display: flex;
    padding: 10px 0 0 0;
    position: relative;
    align-items: center;
}

.header_cliente h1 {
    font-weight: bold;
    font-size: 1.5em;
}

.header_cliente_nav {
    position: absolute;
    right: calc(100% - 95%);
}

.header_cliente_menu, .header_cliente_titulo {
    display: flex;
}

.header_cliente_menu li {
    padding: 0 20px;
    font-weight: bold;
}

.header_cliente_menu li:nth-of-type(n + 2), .header_cliente_subtitulo label {
    border-left: 2px solid black;
}

.header_cliente_subtitulo {
  display: flex;
  align-items: center;
}

.header_cliente_subtitulo h1, .header_cliente_subtitulo label {
  padding: 0 20px;
}

/* Outras telas */
/* Geral */
.div_principal {
  padding: 1em;
}

/* InfoEventos */
.div_principal_cliente {
  display: flex;
  padding: 1em;
}

.div_opcao_cliente {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 1em;
}

.img_div_opcao {
  width: 50px;
  height: 50px;
}

/* IngressosCliente.js */
.div_tabela {
  background-color: white;
  border: 1px solid black;
  padding: 1em;
}

.titulo_secao {
  border-bottom: 1px solid black;
}

.titulo_secao h2 {
  font-weight: bold;
}

.div_titulo_tabela {
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
  position: relative;
  height: 4em;
  display: flex;
  align-items: end;
}

.div_titulo_tabela h3 {
  font-weight: bold;
}

.botao_adicionar_eventos {
  background-color: #0ABF00;
  color: white;
  padding: 0.5em;
  padding-left: 3em;
  border-radius: 5px;
  background-image: url("../assets/Adicionar.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  position: absolute;
  right: 0;
}

.form_ingressos_campos {
  display: flex;
}

.form_ingressos_campos div {
  margin: 0 1em 0 0;
}

.div_botao_filtrar_ingressos {
  display: flex;
  justify-content: center;
}

.div_tabela_dados {
  border: 1px solid #D1CECE;
  padding: 1em;
  margin-top: 1em;
  border-radius: 15px;
}

.div_numero_paginacao_tabela {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: end;
}

.div_paginacao_tabela {
  margin-top: 1em;
  display: flex;
  justify-content: end;
}

/* Mapa cliente */
.map_eventos_cliente {
  background-color: white;
  width: 100%;
  height: 100vh;
}

.map_eventos_cliente_menu {
  position: fixed;
  left: 0;
  padding: 0;
  top: 10vh;
}

.map_eventos_cliente_menu {
  padding: 10px;
  border: 1px solid #858585;
  background-color: #FBFBFB;
  box-shadow: 1px 1px 6px 1px #8F8F8F;
  border-radius: 0 0 30px 0;
  min-width: 100px;
  max-width: 400px;
  transition: .6s;
  display: flex;
}

.map_eventos_cliente_menu_encolhido {
  animation: encolherSideBar 1.6s;
}

.map_eventos_cliente_menu_informacoes {
  overflow: hidden;
  white-space: nowrap;
}

.map_eventos_cliente_menu_direita {
  width: 200px;
}

.map_eventos_cliente_menu_esquerda {
  width: 80px;
  margin-right: 0.6em;
}

.map_eventos_cliente_menu_esquerda_img {
  margin-top: 6vh;
  padding-right: 1em;
  border-right: 1px solid #8F8F8F;
}

/* Componentes */
.botao_menu_lateral_maps_eventos_cliente {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -40px;
  top: 0;
}

.botao_maps_cliente_voltar {
  background-color: black;
  color: white;
  padding: 7px;
  border-radius: 10px;
  width: 100%;
}

.img_menu_lateral {
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
  box-shadow: 1px 1px 6px #8F8F8F;
}

.img_maps_eventos_cliente_menu_lateral_img {
  width: 60px;
  height: 60px;
  background-color: white;
  border: 2px solid black;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 1em;
} 

/* Textos */
.map_eventos_cliente_menu_voltar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map_eventos_cliente_menu_titulo {
  text-align: center;
  margin-top: 1em;
}

.map_eventos_cliente_menu_titulo h1 {
  font-weight: bold;
  font-size: 1.2em;
}

.map_eventos_cliente_menu_info {
  height: 60px;
  margin: 1em 0;
}

.map_eventos_cliente_menu_info h2 {
  font-weight: bold;
  font-size: 1.1em !important;
}

@keyframes encolherSideBar {
  0% {
    padding: 0;
  }
  100% {
    width: 0;
  }
}