/* Cabeçalho */
.header_cabecalho_colaborador {
    background-color: #EF0909;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    min-height: 120px;
    width: 100%;
    top: 0;
}

.header_cabecalho_colaborador label {
    color: white;
}

.header_cabecalho_colaborador label a {
    color: white !important;
}

.li_colaborador_sair a {
    color: white !important;
}

.header_colaborador a {
    color: black;
}

.li_colaborador_sair {
    color: white;
}

/* Página inicial */
.div_body_colaborador {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vender_ingressos_img_vender, .vender_ingressos_img_validar {
    width: 150px;
    height: 120px;
}

.validar_ingressos, .vender_ingressos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    width: 175px;
    height: 175px;
    padding: 1em;
}

.validar_ingressos {
    background-color: #EF0909;
    margin-left: 20px;
}

.validar_ingressos label, .vender_ingressos label {
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

.vender_ingressos {
    background-color: #EF0909;
}

/* Página do formulário do evento para validar Qr Code */

.header_colaborador {
    position: relative;
    border-bottom: 1px solid black;
    width: 98%;
    margin-left: 1%;
    padding: 10px 0 0 0;
    margin-bottom: 20px;
}

.header_colaborador h1 {
    font-weight: bold;
    font-size: 1.5em;
}

.form_pesquisar_periodo label {
    font-weight: bold;
    margin-bottom: 0;
}

.formulario_colaborador h1 {
    font-weight: bold;
    font-size: 2em;
}

.form_pesquisar_periodo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.form_pesquisar_periodo_button {
    text-align: center;
}

/* Página do Qr Code */
.body_colaborador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_colaborador h1 {
    font-weight: bold;
    font-size: 4em;
}

.body_colaborador label {
    margin-bottom: 50px;
}

.botao, .botao_qrcode {
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.botao:hover {
    background-color: #363534;
    transition: 0.3s;
}

.info_ingressos {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}

.info_ingressos label {
    font-weight: bold;
    margin-bottom: 0;
}

.header_colaborador {
    border-bottom: 1px solid black;
    width: 98%;
    margin-left: 1%;
    display: flex;
    padding: 10px 0 0 0;
    position: relative;
}

.header_colaborador h1 {
    font-weight: bold;
    font-size: 1.5em;
}

.header_colaborador_nav {
    position: absolute;
    right: calc(100% - 95%);
}

.header_colaborador_menu {
    display: flex;
}

.header_colaborador_menu li {
    padding: 0 20px;
    font-weight: bold;
}

.header_colaborador_menu li:nth-of-type(n + 2), .header_colaborador_subtitulo label{
    border-left: 2px solid black;
}

.header_colaborador_subtitulo {
  display: flex;
  align-items: center;
}

.header_colaborador_subtitulo h1, .header_colaborador_subtitulo label {
  padding: 0 20px;
}

/* Página do Qr Code */
.body_qr_code {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qrcode_scanner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    width: 60%;
    height: 90vh;
}

.embaixo {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao_grupo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 5px solid #e32d20;
    box-shadow: 1px 2px 10px 4px #e85348;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
}

.botao_codigo {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 3px;
    width: 300px;
    height: 40px;
}

.img_botao {
    position: relative;
    width: 40px;
    height: 40px;
}

.botao_img {
    position: sticky;
    bottom: 0;
    left: 48%;
}

.embaixo {
    position: absolute;
    bottom: 0;
}

/* Página do QR Code da rota Vender */
.qrcode_scanner_body_imprimir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qrcode_scanner_ingresso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    min-height: 400px;
    box-shadow: 1px 1px 6px 3px gray;
    background-color: white;
}

/* Página do vender Ingressos */
.div_principal {
  padding: 1em;
}

.div_tabela_dados_colaborador {
  border: 1px solid #D1CECE;
  padding: 1em;
  margin-top: 1em;
  border-radius: 15px;
}

.div_filtros_verificar_compra {
  width: 30%;
}

.div_titulo_tabela_colaborador {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

/* SucessoValidacao */
.img_sucesso_colaborador {
  width: 200px;
}

.div_img_sucesso_colaborador {
  display: flex;
  justify-content: center;
}

.div_img_sucesso_colaborador_itens {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.div_img_sucesso_colaborador_itens p {
  margin-bottom: 1em;
}

/* Verificar Ingressos */
.form_evento_campos {
  display: flex;
}

.form_evento_data {
  width: 100%;
}

.form_evento_botoes {
  margin: 1em 0;
}

.form_evento_campos_data {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form_evento_campos_eventos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #D1CECE;
  width: 50%;
}

.form_evento_campos_eventos_select {
  width: 100%;
}

.div_info_colaborador {
  display: flex;
  justify-content: center;
}

/* Cadastro Colaborador */
.div_form_body_Colaborador {
  display: flex;
  justify-content: center;
}

.div_redefinir_senha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_redefinir_senha input[type=button] {
  margin-top: 1em;
}

.div_titulo_usuario {
  background-color: #EF0909;
}

.div_titulo_usuario h2 {
  color: white;
  margin-bottom: 0 !important;
  padding: 10px;
  text-align: center;
}

/* Pagar colaborador */
.label_info_comprador_colaborador label {
  font-weight: bold;
  margin: 1em 0;
}

.corpo_secao_info_ingresso_financeiras {
  background-color: white;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.div_info_financeiras_tipos label {
  font-weight: bold;
  width: 250px;
  display: inline-block;
}

.div_info_financeiras_total {
  border-top: 2px solid black;
  margin-top: 1em;
}

.div_info_financeiras_titulo {
  border-bottom: 2px solid black;
  margin-bottom: 1em;
}

.div_info_financeiras_titulo h3 {
  font-weight: bold;
}

.div_secao_colaborador_pagamento {
  display: flex;
}

.div_secao_colaborador_pagamento_info_2, .div_secao_colaborador_pagamento_info_1 {
  width: 50%;
}

.div_secao_colaborador_pagamento_info_2 {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #D1CECE;
}

.div_secao_colaborador_pagamento_info {
  display: flex;
  width: 60%;
}

.corpo_secao_info_ingresso_financeiras {
  width: 35%;
}

.div_info_metodo_pagamento_colaborador {
  width: 40%;
  min-width: 300px;
  max-width: 450px;
}

.div_mensagem_colaborador {
  display: flex;
  justify-content: center;
}