/* Botão de suporte técnico */
.div_suporte_tecnico {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 1em;
}

.botao_suporte {
  background-color: #4B88FF;
  color: white;
  width: 200px;
  padding: 0.5em;
  border-radius: 5px;
  background-image: url("../assets/Suporte.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  margin-right: 2em;
}

/* PDF Viewer */
.div_pdf {
  width: 500px;
  height: 705px;
  background-color: white;
  border: 1px solid black;
}