/* Página home tipo evento */
.header_infoEventos {
    border-bottom: 1px solid black;
    width: 98%;
    margin-left: 1%;
    display: flex;
    padding: 10px 0 0 0;
    position: relative;
}

.header_infoEventos h1 {
    font-weight: bold;
    font-size: 1.5em;
}

.body_imagem_tipoEvento {
    padding-top: 20px;
}

.img_tipoEvento {
    width: 100%;
    height: 600px;
}

.body_infoTipoEventos {
    display: flex;
}

.body_infoTipoEvento_secao {
    padding: 1em 1em;
    width: 15%;
    min-width: 140px;
}

.infoTipoEvento_Principal, .body_infoTipoEventos {
    margin-top: 5px;
}

.body_infoTipoEvento_secao ul li {
    margin: 0.5em 0;
}

.body_infoTipoEvento_secao ul {
    padding-left: 0 !important;
}

.body_infoTipoEvento_secao h1, .infoTipoEvento_Ingressos h1, 
.infoTipoEvento_DescricaoEvento h1, .infoTipoEvento_Recomendacoes h1 {
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.infoTipoEvento_Principal {
    border-left: 1px solid black;
    padding: 1em 1em;
    width: 85%;
    margin-top: 1%;
}

.infoTipoEvento_DescricaoEvento p, .infoTipoEvento_Ingressos p,
.infoTipoEvento_Recomendacoes p {
    margin: 1em 0;
}

.table_info_tipoeventos {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;

}

.table_info_tipoeventos thead tr th {
    border: 1px solid white;
    padding: 7px;
}

.table_info_tipoeventos tbody tr td {
    border: 1px solid black;
    text-align: center;
    padding: 7px;
}

.table_head_tipoEventos {
    background-color: black;
    color: white;
}

.botao_comprar, .botao_ver {
    width: 100px;
    border-radius: 4px;
    color: white;
    padding: 3px;
    margin: 0 10px;
}

.botao_comprar {
    border: 1px solid #2368EE;
    background-color: #2368EE;
}

.botao_ver  {
    border: 1px solid #0A7A08;
    background-color: #0A7A08;
}

/* Página todos os eventos */
.body {
    display: flex;
    padding: 1em;
}

.tabela_eventos {
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 7px 5px gray;
    min-width: 260px;
    max-width: 350px;
}

.img_tabela_eventos {
    width: 100%;
    height: 200px;
}

.secao_tabela_eventos {
    padding: 1em;
}

.secao_tabela_eventos_titulo {
    display: flex;
    padding: 1em 1em 0 1em;
    align-items: baseline;
}

.secao_tabela_eventos_titulo h2 {
    width: fit-content;
    border-right: 1px solid black;
    padding-right: 10px;
}

.secao_tabela_eventos_titulo label {
    padding-left: 10px;
    height: fit-content;
}

.tabela_eventos_botoes {
    display: flex;
    justify-content: right;
}

.tabela_eventos_info {
    display: flex;
}

.tabela_eventos_info ul li {
    margin: 0 20px 10px 0;
}

.tabela_eventos_info ul {
    padding-left: 0;
}

.tabela_eventos_info_topico li label {
    font-weight: bold;
}

.tabela_evento_nao_encontrado {
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 7px 5px gray;
    padding: 1em;
    max-width: 500px;
    min-width: 300px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela_evento_nao_encontrado label {
    font-weight: bold;
}

.eventos {
    display: flex;
    justify-content: center;
    width: 100%;
    border-left: 1px solid black;
    padding-left: 1em;
}

.tabela_eventos_body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.secao_tabela_eventos_titulo h2 {
    font-size: 1.4em !important;
    font-weight: bold;
}

/* Filtro eventos */
.filtro {
    background-color: white;
    border: 2px solid black;
    box-shadow: 1px 1px 7px 3px gray;
    padding: 1em;
    margin: 0 1em;
    min-width: 260px;
    max-width: 300px;
}

.filtro_titulo {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.filtro_localidade_estado {
    display: flex;
}

.filtro_localidade_estado_col {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.filtro_localidade_estado_col div {
    margin: 0 5px;
}

.filtro_localidade_estado_col div label {
    width: 2em;
    margin-right: 2px;
}

.botao_filtrar {
    background-color: #020AFB;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    font-size: 1.1em;
}

.div_botao_filtrar {
    display: flex;
    justify-content: center;
}

.secao_filtro {
    margin-top: 1em;
}

.secao_filtro_titulo {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

.secao_filtro_pais {
    display: flex;
    justify-content: center;
}

.secao_filtro_pais_tipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 1em 1em 0;
}

.secao_filtro_pais_tipo label {
    font-weight: bold;
}