/* Cliente */
.body_login_cliente {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    width: 25vw;
    min-width: 350px;
    height: 60vh;
    min-height: 480px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px gray;
    margin-top: 4%;
}

.div_Login a {
    color: blue;
    text-decoration: none !important;
}

.login_campo {
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 2px gray;
    padding: 5px;
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    outline: none;
}

.div_Login h1 {
    margin-bottom: 20px;
}

.login_campo:focus {
    border: 2px solid #2C56DE;
    box-shadow: 1px 1px 4px 1px #2C56DE;
}

.botao_submit {
    background-color: black;
    color: white;
    width: 45%;
    height: 35px;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px 0 10px 0;
}

.botao_submit:active {
    background-color: #363534;
}

.botao_submit:hover {
    background-color: #242323;
}

.link_cadastrar {
    text-decoration: underline !important;
}

.descricao_cadastrar {
    font-size: 18px;
}

/* Administrador */
