/* Cliente */
.body_login_cliente {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_cadastrar {
    text-decoration: underline !important;
}

.descricao_cadastrar {
    font-size: 18px;
}

.descricao_cadastrar a {
    color: blue !important;
}

.div_Login_titulo {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.div_Login_campos {
    padding: 2em 0;
}

.div_Login_footer {
    text-align: center;
}